.input{
    height: 50px;
    width: 90%;
    margin-left: 5%;
    padding: 10px 0;    
    margin-left: 5%;
    margin-top: 20px;
    border: none;
    
}
.input:focus {
    outline: none;
    border: none;
  }
.submit{
    background-color: rgb(39, 39, 39);
    color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    padding: 10px 0;
}